<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="moim">
<!-- 소모임 목록 -->
	<select id="moimList" resultType="MoimVo">
		select a.MOIM_ID,a.MOIM_NAME,a.MOIM_DATE,a.MOIM_INTRO,b.M_IMG_NAME 
		from moim a, moim_img b
		where a.moim_id = b.MOIM_ID
		order by a.MOIM_ID desc
	</select>
	<!-- 소모임 검색 -->
	<select id="searchMoim" resultType="MoimVo" parameterType="String">
		select a.MOIM_ID,a.MOIM_NAME,a.MOIM_DATE,a.MOIM_INTRO,b.M_IMG_NAME 
		from moim a, moim_img b
		where a.moim_id = b.MOIM_ID
		and a_moim_name like '%'||#{data}||'%'
		order by a.MOIM_ID desc
	</select>
	<!-- 소모임 상세 -->
	<select id="detailMoim" parameterType="int">
		select a.MOIM_ID,a.MOIM_NAME,a.MOIM_DATE,a.MOIM_INTRO,b.M_IMG_NAME 
		from moim a, moim_img b
		where a.moim_id = b.MOIM_ID
		and a.moim_id = #{moim_id}
	</select>
	<!-- 소모임 개최 -->
	<insert id="insertMoim" parameterType="MoimVo">
		insert into moim (MOIM_ID,
							AGE_ID,
							AREA_ID,
							MOIM_NAME,
							MOIM_DATE,
							MOIM_INTRO)
		values(MOIM_ID_SEQ.nextval, #{age_id}, #{area_id}, #{moim_name}, sysdate, #{moim_intro})
		<selectKey keyProperty="moim_id" resultType="int" order="AFTER">
            SELECT MOIM_ID_SEQ.CURRVAL FROM DUAL
        </selectKey>
	</insert>
	<!-- 소모임 참가자 정보 넣기 -->
	<insert id="insertMoimUser" parameterType="MoimUserVo">
		insert into moim_user 
		values (#{user_id}, #{moim_id}, sysdate,#{act_yn}, #{leader})
	</insert>
	<!-- 소모임 신청자 리스트 -->
	<select id="moimUserList" parameterType="MoimVo" resultType="MoimUserVo">
		select user_id, to_char(ent_date,'YYYY-MM-DD') ent_date
		from moim_user
		where moim_id = #{moim_id}
		and act_yn = 'N'
	</select>
	<!-- 소모임 활동 상태 업데이트 -->
	<update id="updateMoimAct" parameterType="MoimUserVo">
		update moim_user
		set act_yn = #{act_yn}
		where user_id = #{user_id}
	</update>
	<!-- 소모임 소개이미지 파일 넣기 -->
	<insert id="insertIntroImg" parameterType="FileVo">
		insert into moim_img (M_IMG_NO, MOIM_ID, M_IMG_NAME)
		values ('I' || TO_CHAR(M_IMG_NO_SEQ.nextval, 'FM000'), #{boardno}, #{filename})
	</insert>
	<!-- 이미지 업데이트 -->
	<update id="updateIntroImg" parameterType="FileVo">
		update moim_img
		set M_IMG_NAME = #{filename}
		where moim_id = #{boardno}
	</update>
	<!-- 소모임 게시판 리스트 페이징 해야되는데 -->
	
	<!-- 여기부터 인터페이스 추가안함 -->
	<!-- 소모임 일정 추가 -->
	<insert id="insertMoimCal" parameterType="MoimCalVo">
		insert into moim_cal (M_CAL_NO, MOIM_ID, CAL_TITLE, CAL_COMENT, CAL_DATE, CAL_PLACE
		,CAL_ADDR1, CAL_ADDR2) 
		values(M_CAL_NO_SEQ.nextval, #{moim_id}, #{cal_title}, #{cal_coment}, to_date(#{cal_date},'YYYY-MM-DD'),#{cal_place},
		#{cal_addr1},#{cal_addr2})
		<selectKey keyProperty="m_cal_no" resultType="int" order="AFTER">
            SELECT M_CAL_NO_SEQ.CURRVAL FROM DUAL
        </selectKey>
	</insert>
	
	
	<!-- 2024-02-10 -->
	<!-- 소모임 일정 수정 -->
	<update id="updateMoimCal" parameterType="MoimCalVo">
		update moim_cal
		set CAL_TITLE = #{cal_title},
			CAL_COMENT = #{cal_coment},
			CAL_DATE = #{cal_date}
		where m_cal_no = #{m_cal_no}
	</update>
	<!-- 소모임 일정 삭제 -->
	<update id="deleteMoimCal" parameterType="MoimCalVo">
		update moim_cal
		set cal_del = "Y"
		where m_cal_no = #{m_cal_no}
	</update>
	<!-- 소모임 일정 보기 -->
	<select id="selectMoimCal" parameterType="MoimCalVo" resultType="MoimCalVo">
		select m_cal_no, cal_title, to_char(cal_date, 'YYYY-MM-DD') cal_date
		from moim_cal
		where cal_del = 'N'
		and moim_id = #{moim_id}
		<!-- and TO_CHAR(cal_date, 'YYYYMM') = #{cal_date} -->
	</select>
	<!-- 소모임 일정 상세보기 -->
	<select id="detailMoimCal" parameterType="MoimCalVo" resultType="MoimCalVo">
		select 
				M_CAL_NO,
				CAL_TITLE,
				CAL_COMENT,
				CAL_ADDR1,
				CAL_ADDR2
		from moim_cal
		where M_CAL_NO = #{m_cal_no}
		and cal_del = 'N'
	</select>
	<!-- 소모임 일정 참가자 추가 -->
	<insert id="insertEntry" parameterType="EntryVo">
		insert into entry values(#{m_cal_no}, #{user_id}, sysdate)
	</insert>
	<!-- 소모임 일정 참가자 삭제 -->
	<delete id="deleteEntry" parameterType="EntryVo">
		delete from entry where m_cal_no = #{m_cal_no} and user_id = #{user_id}
	</delete>
	<!-- 소모임 일정 참가자 보기 -->
	<select id="selectEntry" parameterType="EntryVo" resultType="EntryVo">
		select a.user_id, b.nick_name 
		from entry a, member b 
		where a.user_id = b.user_id and a.user_id = #{user_id}
	</select>
	<!-- 소모임 신고 -->
	<insert id="reportMoim" parameterType="MoimReportVo">
		insert into moim_report (REPORT_ID,
									USER_ID,
									MOIM_ID)
	    values(MOIM_REPORT_SEQ.nextval, #{user_id}, #{moim_id})
	</insert>
	
	<!-- 20204-02-11 -->
	<!-- 소모임 게시판 작성-->
	<insert id="insertMoimBoard" parameterType="MoimBoardVo">
		insert into Moim_Board (M_BOARD_NO
								MOIM_ID
								USER_ID
								M_BOARD_TITLE
								M_BOARD_CONTENT
								)
		valuse (M_BOARD_NO_SEQ.nextval, #{moim_id}, #{user_id}, #{m_board_title}, #{m_board_content})	
	</insert>
	<!-- 소모임 게시판 보기 -->
	<select id="selectMoimBoard" parameterType="MoimBoardVo" resultType="MoimBoardVo">
		select * from moim_board where moim_id = #{moim_id} and m_board_del = 'N'
	</select>
	
	<!-- 소모임 게시판 상세 보기 -->
	<select id="detailMoimBoard" parameterType="MoimBoardVo" resultType="MoimBoardVo">
		select * from moim_board where moim_id = #{moim_id} and m_board_del = 'N' and user_id = #{user_id}
	</select>
	<!-- 소모임 게시판 수정 -->
	<update id="updateMoimBoard" parameterType="MoimBoardVo">
		update moim_board 
		set M_BOARD_TITLE = #{m_board_title},
			M_BOARD_CONTENT = #{m_board_content}
		where m_board_no = #{m_board_no}
	</update>
	<!-- 소모임 게시판 삭제 -->
	<update id="deleteMoimBoard" parameterType="MoimBoardVo">
		update moim_board 
		set	m_board_del = 'Y'
		where m_board_no = #{m_board_no}
	</update>
	<!-- 소모임 게시판 작성시 이미지 추가 -->
	<insert id="insertMoimBoardImg" parameterType="MoimBoardImgVo">
		insert into moim_board_img 
		values(M_IMG_FILE_NO.nextval, #{m_board_no}, #{m_image_file_path})
	</insert>
	<!-- 이미지 파일 불러오기 -->
	<select id="selectMoimBoardImg" parameterType="MoimBoardImgVo" resultType="MoimBoardImgVo">
		select * from moim_board_img where m_board_no = #{m_board_no}
	</select>
	<!-- 이미지파일 수정은 여러개 있는 상황에서 찾을수있나 -->
</mapper>